/*Overflow-x specifies whether or not to clip(scroll) to the left/right edges of the content.*/
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


.nav-placeholder{
    position: relative;
    min-height: 0em;
    margin:0;
    padding-left:0;
    padding-right:0
}

/*iphone 5 media query*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
.bannerTitle  {
    position:relative;
    color:white;
    }
}

/*laptop media query*/
@media only screen and (min-width:600px){
.bannerTitle  {
    position:relative;
    color:white;
    top:5em;
    }
}

.main_title {
    font-size: 3em;
    margin: 0 0 0.5em 0
}

.footer{
    margin-top:5em;
    padding:3em;
    bottom:0em;
    height:auto;
    background-color:#eee;
    width:100%;
    left:0
}


.jumbotron {
position:relative;
background: #000 url("../img/index_pic.jpg") center center;
width:100%;
height:60%;
background-size:cover;
overflow:hidden;
}


.muted{
    color:#999999;
    margin:20px
}

.bs-example .btn {
    margin:10px
}

/* img css for different section */

/*iphone 5 media query*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
.section_img  {
       height:280px;
       width:280px;
    }
}

/*laptop media query*/
@media only screen and (min-width:600px){
.section_img  {
       height:300px;
       width:350px;
       margin:0 auto;
    }
}
}
