{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="banner" data-attr="" data-attr-second="">
</div>
    <div class="container">
        <h1>Installation</h1>
            <div class="alert alert-success ">
                Downloads (Windows): <a href="https://www.python.org/downloads/windows/">https://www.python.org/downloads/windows</a></br>
                Downloads (Mac OS X):<a href="https://www.python.org/downloads/mac-osx/"> https://www.python.org/downloads/mac-osx/</a>
            </div>
        <div class="container-float">
            <h2>System Environment Setting</h2>
            <p>One thing to watch out for: on the second screen of the installation wizard, marked "Customize", make sure you scroll down and choose the "Add python.exe to the Path" option, as shown here:</p>
            <h3>Python Environment Setup</h3><br>
            <p>The path details are handled by installer. One thing we need to do is to add Python director to path variable in system environment.</p>
            <code>PYTHONPATH=/usr/local/bin/python3.4</code>

            <h5>After typing above commands in terminal, press Enter.</h5>


            <h2>OS X</h2>
            <p>Verify the installation was successful by opening the Terminal application and running the python3 command:</p>
            <code>$ python3 --version<br/>Python 3.4.3</code>
            <h2>Set up Virtual environment</h2>
            <p>Virtual environment keeps your developing environment independent among different projects. The beauty of it is
                you don't need to worry about compatibility when you have one workstation with multiple projects working
                on a road.
            </p>

            <h5>Steps for Linux and OS X</h5>
            <div>
                <ol>
                  <li>Create a virtual environment (also called a virtualenv)</li>
                     <code>~/SitePractise$ python3 -m venv myvenv</code>
                  <li>Start your virtual environment by running</li>
                    <code>~/SitePractise$ source myvenv/bin/activate</code>
                  <li>You will know that you have virtualenv started when you see that the prompt in your console looks like</li>
                    <code>(myvenv) ~/SitePractise$</code>
               </ol>
            </div>
        </div>
    </div>
{% endblock %}