{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="fieldWrapper">
    <h2 class="text-primary">New Topic Post</h2>
        <form method="POST" class="post-form">{% csrf_token %}
            <!--{{ form.as_p }}-->

            <div>
                {{ form.title.label_tag}} {{form.title|add_class:"form-control" }}
            </div>

            <div>
                {{ form.text.label_tag}} {{form.text|add_class:"form-control" }}
            </div>

            <br>

            <button type="submit" class="save btn btn-default">Save</button>
        </form>
</div>
{% endblock %}
